
@media screen and (max-width: 900px) {
    #desktop-navbar {
        display: none;
    }
    #mobile-navbar , #mobile-footbar {
        display: flex;
    }
    .slider img {
        height: 400px;
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {
    #desktop-navbar {
        display: none;
    }
    #mobile-navbar , #mobile-footbar {
        display: flex;
    }


    #contentOne {
        top: 0vh;
    }#contentTwo {
        margin-top: 0;
    }
    .slider img {
        height: 400px;
        width: 100%;
    }

    .horizontal-lines {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    #desktop-navbar {
        display: none;
    }
    #mobile-navbar , #mobile-footbar {
        display: flex;
    }

}