
@media screen and (max-width: 900px) {
    #desktop-navbar {
        display: none;
    }
    #mobile-navbar , #mobile-footbar {
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    #desktop-navbar {
        display: none;
    }
    #mobile-navbar , #mobile-footbar {
        display: flex;
    }
}